body, h3{
    margin: 0;
    padding: 0;
    background-image: url("assert/images.png");
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

#main-div {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h3 {
    color: black;
}

input[type="email"],
input[type="text"],
select,
input[type="datetime-local"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.record-btn {
    background-color: #45a049;
}

.profile-line {
    border: 1px solid #ddd;
    margin-top: 20px;
}


.my-status {
    display: flex;
    align-items: center;
}

.my-status p {
    margin: 0;
    margin-left: 5px;
    color: black;
}

.clear {
    border: 1px solid #ddd;
    margin-top: 20px;
    align-items: center;
    justify-content: right;
}

#email{
    background-clip : content-box black;
}